<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Clientes</title>
</head>

<body>
  <!-- Incluindo o arquivo mensagem.ejs -->
  <%- include('../mensagem') %>

    <main class="table" id="tabela_clientes">
      <section class="table__header">
        <div class="table-titulo">
          <h3>Clientes</h3>
        </div>
        <div class="header-actions">
          <div class="table-search-bar">
            <input type="text" placeholder="Pesquisar por cliente...">
            <i class="fas fa-search"></i>
          </div>
          <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClienteModal">
              Adicionar Cliente
            </button>
          </div>
          <div>
            <button type="button" class="btn btn-secondary btn-hide-mobile" data-bs-toggle="modal"
              data-bs-target="#manageColumnsModal">
              Gerenciar Colunas
            </button>
          </div>
        </div>
      </section>

      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th draggable="true">Código</th>
              <th draggable="true">Nome</th>
              <th draggable="true">Empresa</th>
              <th draggable="true">Organização de Vendas</th>
              <th draggable="true">Canal</th>
              <th draggable="true">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% clientes.forEach(cliente=> { %>
              <tr>
                <td>
                  <%= cliente.codigo %>
                </td>
                <td>
                  <%= cliente.nome %>
                </td>
                <td>
                  <%= cliente.empresa.razaoSocial %>
                </td>
                <td>
                  <%= cliente.organizacaoVendas.nome %>
                </td>
                <td>
                  <%= cliente.canal.descricao %>
                </td>
                <td>
                  <a href="#" onclick="editCliente(<%= cliente.id %>);" title="Editar"><i class="fas fa-edit"></i></a>
                  <a href="#" onclick="viewCliente(<%= cliente.id %>);" title="Visualizar"><i
                      class="fas fa-eye"></i></a>
                  <a href="#" onclick="deleteCliente(<%= cliente.id %>);" title="Deletar"><i
                      class="fas fa-trash-alt"></i></a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </section>
    </main>

    <!-- Modal para adicionar cliente -->
    <div class="modal fade" id="addClienteModal" tabindex="-1" aria-labelledby="addClienteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addClienteModalLabel">Adicionar Cliente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addClienteForm" enctype="multipart/form-data">
              <ul class="nav nav-tabs" id="clienteTabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="dados-gerais-tab" data-bs-toggle="tab" href="#dados-gerais" role="tab"
                    aria-controls="dados-gerais" aria-selected="true">Dados Gerais</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link disabled" id="dados-cliente-tab" data-bs-toggle="tab" href="#dados-cliente"
                    role="tab" aria-controls="dados-cliente" aria-selected="false">Dados do Cliente</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link disabled" id="dados-controle-tab" data-bs-toggle="tab" href="#dados-controle"
                    role="tab" aria-controls="dados-controle" aria-selected="false">Dados de Controle</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link disabled" id="dados-empresa-tab" data-bs-toggle="tab" href="#dados-empresa"
                    role="tab" aria-controls="dados-empresa" aria-selected="false">Dados da Empresa</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link disabled" id="dados-comerciais-tab" data-bs-toggle="tab" href="#dados-comerciais"
                    role="tab" aria-controls="dados-comerciais" aria-selected="false">Dados Comerciais</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link disabled" id="resumo-tab" data-bs-toggle="tab" href="#resumo" role="tab"
                    aria-controls="resumo" aria-selected="false">Resumo</a>
                </li>
              </ul>
              <div class="tab-content" id="clienteTabsContent">
                <!-- Aba Dados Gerais -->
                <div class="tab-pane fade show active" id="dados-gerais" role="tabpanel"
                  aria-labelledby="dados-gerais-tab">
                  <div class="row mt-1">
                    <div class="mb-3">
                      <label for="empresa" class="form-label">Empresa <span style="color: red;">*</span></label>
                      <select id="empresa" name="empresa" class="form-select" required>
                        <% empresas.forEach(empresa=> { %>
                          <option value="<%= empresa.id %>">
                            <%= empresa.razaoSocial %>
                          </option>
                          <% }) %>
                      </select>
                      <div id="empresaErro" class="invalid-feedback" style="display: none;">Por favor, selecione uma
                        empresa</div>
                    </div>
                    <div class="mb-3">
                      <label for="organizacaoVendas" class="form-label">Organização de Vendas <span
                          style="color: red;">*</span></label>
                      <select id="organizacaoVendas" name="organizacaoVendas" class="form-select" required>
                        <% organizacoesVendas.forEach(organizacao=> { %>
                          <option value="<%= organizacao.id %>">
                            <%= organizacao.nome %>
                          </option>
                          <% }) %>
                      </select>
                      <div id="organizacaoVendasErro" class="invalid-feedback" style="display: none;">Por favor,
                        selecione uma organização de vendas.</div>
                    </div>
                    <div class="mb-3">
                      <label for="canal" class="form-label">Canal <span style="color: red;">*</span></label>
                      <select id="canal" name="canal" class="form-select" required>
                        <% canais.forEach(canal=> { %>
                          <option value="<%= canal.id %>">
                            <%= canal.descricao %>
                          </option>
                          <% }) %>
                      </select>
                      <div id="canalErro" class="invalid-feedback" style="display: none;">Por favor, selecione um canal.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="cpf" class="form-label">CPF: <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite o CPF"
                        onblur="verificarCPF(this)" maxlength="14" required>
                      <div id="cpfErro" class="invalid-feedback" style="display: none;">CPF inválido.</div>
                    </div>
                    <div class="mb-3">
                      <label for="cnpj" class="form-label">CNPJ: <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="Digite o CNPJ"
                        onblur="verificarCNPJ(this)" maxlength="18" required>
                      <div id="cnpjErro" class="invalid-feedback" style="display: none;">CNPJ inválido.</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" id="confirmDadosGerais">Prosseguir</button>
                  </div>
                </div>

                <!-- Aba Dados do Cliente -->
                <div class="tab-pane fade" id="dados-cliente" role="tabpanel" aria-labelledby="dados-cliente-tab">
                  <div class="row mt-3">
                    <div class="col-md-8 mb-3">
                      <label for="razaoSocial" class="form-label">Razão Social <span
                          style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="razaoSocial" name="razaoSocial" required>
                      <div id="razaoSocialErro" class="invalid-feedback" style="display: none;">Por favor, preencha a
                        Razão Social.</div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="termoPesquisa" class="form-label">Termo de Pesquisa</label>
                      <input type="text" class="form-control" id="termoPesquisa" name="termoPesquisa">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 mb-3">
                      <label for="cep" class="form-label">CEP <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="cep" name="cep" oninput="mascararCEP(this)"
                        onblur="verificarCEP(this)">
                      <div id="cepErro" class="invalid-feedback">Por favor, preencher cep com 8 digitos</div>
                    </div>
                    <div class="col-md-2 mb-3">
                      <label for="domicilio" class="form-label">Domicílio</label>
                      <input type="text" class="form-control" id="domicilio" name="domicilio">
                      <div id="domicilioErro" class="invalid-feedback" style="display: none;">Por favor, preencher cep
                        para busca do domicilio.</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 mb-3">
                      <label for="rua" class="form-label">Rua <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="rua" name="rua">
                      <div id="ruaErro" class="invalid-feedback" style="display: none;">Por favor, preencha a Rua.</div>
                    </div>
                    <div class="col-md-2 mb-3">
                      <label for="numero" class="form-label">Número <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="numero" name="numero">
                      <div id="numeroErro" class="invalid-feedback" style="display: none;">Por favor, preencha o Número.
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 mb-3">
                      <label for="complemento" class="form-label">Complemento</label>
                      <input type="text" class="form-control" id="complemento" name="complemento">
                    </div>
                    <div class="col-md-5 mb-3">
                      <label for="bairro" class="form-label">Bairro <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="bairro" name="bairro">
                      <div id="bairroErro" class="invalid-feedback" style="display: none;">Por favor, preencha o Bairro.
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="cidade" class="form-label">Cidade <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="cidade" name="cidade">
                      <div id="cidadeErro" class="invalid-feedback" style="display: none;">Por favor, preencha a Cidade.
                      </div>
                    </div>
                    <div class="col-md-2 mb-3">
                      <label for="estado" class="form-label">Estado <span style="color: red;">*</span></label>
                      <input type="text" class="form-control" id="estado" name="estado">
                      <div id="estadoErro" class="invalid-feedback" style="display: none;">Por favor, preencha o Estado.
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" id="confirmDadosCliente">Prosseguir</button>
                  </div>
                </div>

                <!-- Aba Dados de Controle -->
                <div class="tab-pane fade" id="dados-controle" role="tabpanel" aria-labelledby="dados-controle-tab">
                  <div class="row mt-3">
                    <div class="col-md-6 mb-3">
                      <label for="fornecedor" class="form-label">Fornecedor:</label>
                      <input type="text" class="form-control" id="fornecedor" name="fornecedor">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="grupoEmpresa" class="form-label">Grupo Empresa </label>
                      <select id="grupoEmpresa" name="grupoEmpresa" class="form-select" required>
                        <option value="">
                        </option>
                        <% gruposEmpresas.forEach(grupo=> { %>
                          <option value="<%= grupo.id %>">
                            <%= grupo.nome %>
                          </option>
                          <% }) %>
                      </select>
                      <div id="grupoEmpresaErro" class="invalid-feedback" style="display: none;">Por favor, selecione um
                        grupo empresa.</div>
                    </div>
                  <div class="col-md-6 mb-3">
                    <label for="inscEstadual" class="form-label">Inscrição Estadual:</label>
                    <input type="text" class="form-control" id="inscEstadual" name="inscEstadual">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="inscMunicipal" class="form-label">Inscrição Municipal:</label>
                    <input type="text" class="form-control" id="inscMunicipal" name="inscMunicipal">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="suframa" class="form-label">Suframa:</label>
                    <input type="text" class="form-control" id="suframa" name="suframa">
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary" id="confirmDadosControle">Prosseguir</button>
                </div>
              </div>

              <!-- Aba Dados da Empresa -->
              <div class="tab-pane fade" id="dados-empresa" role="tabpanel" aria-labelledby="dados-empresa-tab">
                <div class="row mt-3">
                  <div class="col-md-6 mb-3">
                    <label for="formasPgto" class="form-label">Formas de Pagamento<span
                        style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="formasPgto" name="formasPgto">
                    <div id="formasPgtoErro" class="invalid-feedback" style="display: none;">Por favor, preencha as
                      Formas de Pagamento.</div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="condicaoPagamento" class="form-label">Condição de Pagamento<span
                        style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="condicaoPagamento" name="condicaoPagamento">
                    <div id="condicaoPagamentoErro" class="invalid-feedback" style="display: none;">Por favor,
                      preencha a Condição de Pagamento.</div>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary" id="confirmDadosEmpresa">Prosseguir</button>
                </div>
              </div>

              <!-- Aba Dados Comerciais -->
              <div class="tab-pane fade" id="dados-comerciais" role="tabpanel" aria-labelledby="dados-comerciais-tab">
                <div class="row mt-3">
                  <div class="col-md-6 mb-3">
                    <label for="equipeVendas" class="form-label">Equipe de Vendas <span
                        style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="equipeVendas" name="equipeVendas">
                    <div id="equipeVendasErro" class="invalid-feedback" style="display: none;">Por favor, preencha a
                      Equipe de Vendas.</div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="escritorioVendas" class="form-label">Escritório de Vendas <span
                        style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="escritorioVendas" name="escritorioVendas">
                    <div id="escritorioVendasErro" class="invalid-feedback" style="display: none;">Por favor, preencha
                      o Escritório de Vendas.</div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="regVendas" class="form-label">Região de Vendas <span
                        style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="regVendas" name="regVendas">
                    <div id="regVendasErro" class="invalid-feedback" style="display: none;">Por favor, preencha a
                      Região de Vendas.</div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="priceList" class="form-label">Lista de Preços <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="priceList" name="priceList">
                    <div id="priceListErro" class="invalid-feedback" style="display: none;">Por favor, preencha a
                      Lista de Preços.</div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="moeda" class="form-label">Moeda <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="moeda" name="moeda">
                    <div id="moedaErro" class="invalid-feedback" style="display: none;">Por favor, preencha a Moeda.
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary" id="confirmDadosComerciais">Prosseguir</button>
                </div>
              </div>

              <!-- Aba Resumo -->
              <div class="tab-pane fade" id="resumo" role="tabpanel" aria-labelledby="resumo-tab">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <h5>Resumo do Cadastro</h5>
                    <p><strong>Empresa:</strong> <span id="resumoEmpresa"></span></p>
                    <p><strong>Organização de Vendas:</strong> <span id="resumoOrganizacaoVendas"></span></p>
                    <p><strong>Canal:</strong> <span id="resumoCanal"></span></p>
                    <p><strong>Razão Social:</strong> <span id="resumoRazaoSocial"></span></p>
                    <p><strong>Termo de Pesquisa:</strong> <span id="resumoTermoPesquisa"></span></p>
                    <p><strong>CEP:</strong> <span id="resumoCEP"></span></p>
                    <p><strong>Domicílio:</strong> <span id="resumoDomicilio"></span></p>
                    <p><strong>Rua:</strong> <span id="resumoRua"></span></p>
                    <p><strong>Número:</strong> <span id="resumoNumero"></span></p>
                    <p><strong>Complemento:</strong> <span id="resumoComplemento"></span></p>
                    <p><strong>Bairro:</strong> <span id="resumoBairro"></span></p>
                    <p><strong>Cidade:</strong> <span id="resumoCidade"></span></p>
                    <p><strong>Estado:</strong> <span id="resumoEstado"></span></p>
                    <p><strong>Fornecedor:</strong> <span id="resumoFornecedor"></span></p>
                    <p><strong>Grupo Empresa:</strong> <span id="resumoGrupoEmpresa"></span></p>
                    <p><strong>CPF:</strong> <span id="resumoCPF"></span></p>
                    <p><strong>CNPJ:</strong> <span id="resumoCNPJ"></span></p>
                    <p><strong>Inscrição Estadual:</strong> <span id="resumoInscEstadual"></span></p>
                    <p><strong>Inscrição Municipal:</strong> <span id="resumoInscMunicipal"></span></p>
                    <p><strong>Formas de Pagamento:</strong> <span id="resumoFormasPgto"></span></p>
                    <p><strong>Condição de Pagamento:</strong> <span id="resumoCondicaoPagamento"></span></p>
                    <p><strong>Equipe de Vendas:</strong> <span id="resumoEquipeVendas"></span></p>
                    <p><strong>Escritório de Vendas:</strong> <span id="resumoEscritorioVendas"></span></p>
                    <p><strong>Região de Vendas:</strong> <span id="resumoRegVendas"></span></p>
                    <p><strong>Lista de Preços:</strong> <span id="resumoPriceList"></span></p>
                    <p><strong>Moeda:</strong> <span id="resumoMoeda"></span></p>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">Criar Cliente</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>

    <!-- Adicionando os scripts necessários -->
    <script>
document.getElementById('cep').addEventListener('blur', function () {
    const cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos
    if (cep.length === 8) {
        buscarCEP(cep);
    } else {
        // Exibe mensagem de erro se o CEP não tiver 8 dígitos
        document.getElementById('cep').classList.add('is-invalid');
        document.getElementById('cepErro').style.display = 'block';
    }
});

document.getElementById('cpf').addEventListener('blur', function () {
    const cpf = this.value;
    if (!validateCPF(cpf)) {
        this.classList.add('is-invalid');
        document.getElementById('cpfErro').style.display = 'block';
    } else {
        this.classList.remove('is-invalid');
        document.getElementById('cpfErro').style.display = 'none';
    }
});

document.getElementById('cnpj').addEventListener('blur', function () {
    const cnpj = this.value;
    if (!validateCNPJ(cnpj)) {
        this.classList.add('is-invalid');
        document.getElementById('cnpjErro').style.display = 'block';
    } else {
        this.classList.remove('is-invalid');
        document.getElementById('cnpjErro').style.display = 'none';
    }
});

document.getElementById('cpf').addEventListener('input', function (e) {
    e.target.value = mascararCPF(e.target.value);
    if (e.target.value.length > 14) {
        e.target.value = e.target.value.slice(0, 14);
    }
    // Se CPF for preenchido, desabilite o campo CNPJ e outros
    if (e.target.value.replace(/\D/g, '').length === 11) {
        document.getElementById('cnpj').disabled = true;
        document.getElementById('inscEstadual').disabled = true;
        document.getElementById('inscMunicipal').disabled = true;
        document.getElementById('suframa').disabled = true;

        // Limpar os valores dos campos desabilitados
        document.getElementById('inscEstadual').value = '';
        document.getElementById('inscMunicipal').value = '';
        document.getElementById('suframa').value = '';
    } else {
        document.getElementById('cnpj').disabled = false;
        document.getElementById('inscEstadual').disabled = false;
        document.getElementById('inscMunicipal').disabled = false;
        document.getElementById('suframa').disabled = false;
    }
});

document.getElementById('cnpj').addEventListener('input', function (e) {
    e.target.value = mascararCNPJ(e.target.value);
    if (e.target.value.length > 18) {
        e.target.value = e.target.value.slice(0, 18);
    }
    // Se CNPJ for preenchido, desabilite o campo CPF
    if (e.target.value.replace(/\D/g, '').length === 14) {
        document.getElementById('cpf').disabled = true;
    } else {
        document.getElementById('cpf').disabled = false;
    }
});

document.getElementById('confirmDadosGerais').addEventListener('click', function () {
    const empresa = document.getElementById('empresa').value.trim();
    const organizacaoVendas = document.getElementById('organizacaoVendas').value.trim();
    const canal = document.getElementById('canal').value.trim();

    let hasError = false;

    if (!empresa) {
        document.getElementById('empresaErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('empresaErro').style.display = 'none';
    }

    if (!organizacaoVendas) {
        document.getElementById('organizacaoVendasErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('organizacaoVendasErro').style.display = 'none';
    }

    if (!canal) {
        document.getElementById('canalErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('canalErro').style.display = 'none';
    }

    if (!hasError) {
        document.getElementById('dados-cliente-tab').classList.remove('disabled');
        const nextTab = new bootstrap.Tab(document.getElementById('dados-cliente-tab'));
        nextTab.show();
    } else {
        // Define a mensagem no corpo do modal
        document.getElementById('messageModalBody').textContent = 'Por favor, preencha todos os campos obrigatórios na aba Dados Gerais.';
        // Exibe o modal
        const messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
        messageModal.show();
    }
});

document.getElementById('confirmDadosCliente').addEventListener('click', function () {
    const razaoSocial = document.getElementById('razaoSocial').value.trim();
    const cep = document.getElementById('cep').value.trim();
    const rua = document.getElementById('rua').value.trim();
    const numero = document.getElementById('numero').value.trim();
    const bairro = document.getElementById('bairro').value.trim();
    const cidade = document.getElementById('cidade').value.trim();
    const estado = document.getElementById('estado').value.trim();

    let hasError = false;

    if (!razaoSocial) {
        document.getElementById('razaoSocialErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('razaoSocialErro').style.display = 'none';
    }

    if (!cep) {
        document.getElementById('cepErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('cepErro').style.display = 'none';
    }

    if (!rua) {
        document.getElementById('ruaErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('ruaErro').style.display = 'none';
    }

    if (!numero) {
        document.getElementById('numeroErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('numeroErro').style.display = 'none';
    }

    if (!bairro) {
        document.getElementById('bairroErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('bairroErro').style.display = 'none';
    }

    if (!cidade) {
        document.getElementById('cidadeErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('cidadeErro').style.display = 'none';
    }

    if (!estado) {
        document.getElementById('estadoErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('estadoErro').style.display = 'none';
    }

    if (!hasError) {
        document.getElementById('dados-controle-tab').classList.remove('disabled');
        const nextTab = new bootstrap.Tab(document.getElementById('dados-controle-tab'));
        nextTab.show();
    } else {
        alert('Por favor, preencha todos os campos obrigatórios na aba Dados do Cliente.');
    }
});

document.getElementById('confirmDadosControle').addEventListener('click', function () {
    document.getElementById('dados-empresa-tab').classList.remove('disabled');
    const nextTab = new bootstrap.Tab(document.getElementById('dados-empresa-tab'));
    nextTab.show();
});

document.getElementById('confirmDadosEmpresa').addEventListener('click', function () {
    const formasPgto = document.getElementById('formasPgto').value.trim();
    const condicaoPagamento = document.getElementById('condicaoPagamento').value.trim();

    let hasError = false;

    if (!formasPgto) {
        document.getElementById('formasPgtoErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('formasPgtoErro').style.display = 'none';
    }

    if (!condicaoPagamento) {
        document.getElementById('condicaoPagamentoErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('condicaoPagamentoErro').style.display = 'none';
    }

    if (!hasError) {
        document.getElementById('dados-comerciais-tab').classList.remove('disabled');
        const nextTab = new bootstrap.Tab(document.getElementById('dados-comerciais-tab'));
        nextTab.show();
    }
});

document.getElementById('confirmDadosComerciais').addEventListener('click', function () {
    const equipeVendas = document.getElementById('equipeVendas').value.trim();
    const escritorioVendas = document.getElementById('escritorioVendas').value.trim();
    const regVendas = document.getElementById('regVendas').value.trim();
    const priceList = document.getElementById('priceList').value.trim();
    const moeda = document.getElementById('moeda').value.trim();

    let hasError = false;

    if (!equipeVendas) {
        document.getElementById('equipeVendasErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('equipeVendasErro').style.display = 'none';
    }

    if (!escritorioVendas) {
        document.getElementById('escritorioVendasErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('escritorioVendasErro').style.display = 'none';
    }

    if (!regVendas) {
        document.getElementById('regVendasErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('regVendasErro').style.display = 'none';
    }

    if (!priceList) {
        document.getElementById('priceListErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('priceListErro').style.display = 'none';
    }

    if (!moeda) {
        document.getElementById('moedaErro').style.display = 'block';
        hasError = true;
    } else {
        document.getElementById('moedaErro').style.display = 'none';
    }

    if (!hasError) {
        document.getElementById('resumo-tab').classList.remove('disabled');
        const nextTab = new bootstrap.Tab(document.getElementById('resumo-tab'));
        nextTab.show();

        // Preencher a aba Resumo
        document.getElementById('resumoEmpresa').textContent = document.getElementById('empresa').selectedOptions[0].text;
        document.getElementById('resumoOrganizacaoVendas').textContent = document.getElementById('organizacaoVendas').selectedOptions[0].text;
        document.getElementById('resumoCanal').textContent = document.getElementById('canal').selectedOptions[0].text;
        document.getElementById('resumoRazaoSocial').textContent = document.getElementById('razaoSocial').value;
        document.getElementById('resumoTermoPesquisa').textContent = document.getElementById('termoPesquisa').value;
        document.getElementById('resumoCEP').textContent = document.getElementById('cep').value;
        document.getElementById('resumoDomicilio').textContent = document.getElementById('domicilio').value;
        document.getElementById('resumoRua').textContent = document.getElementById('rua').value;
        document.getElementById('resumoNumero').textContent = document.getElementById('numero').value;
        document.getElementById('resumoComplemento').textContent = document.getElementById('complemento').value;
        document.getElementById('resumoBairro').textContent = document.getElementById('bairro').value;
        document.getElementById('resumoCidade').textContent = document.getElementById('cidade').value;
        document.getElementById('resumoEstado').textContent = document.getElementById('estado').value;
        document.getElementById('resumoFornecedor').textContent = document.getElementById('fornecedor').value;
        document.getElementById('resumoGrupoEmpresa').textContent = document.getElementById('grupoEmpresa').value;
        document.getElementById('resumoCPF').textContent = document.getElementById('cpf').value;
        document.getElementById('resumoCNPJ').textContent = document.getElementById('cnpj').value;
        document.getElementById('resumoInscEstadual').textContent = document.getElementById('inscEstadual').value;
        document.getElementById('resumoInscMunicipal').textContent = document.getElementById('inscMunicipal').value;
        document.getElementById('resumoFormasPgto').textContent = document.getElementById('formasPgto').value;
        document.getElementById('resumoCondicaoPagamento').textContent = document.getElementById('condicaoPagamento').value;
        document.getElementById('resumoEquipeVendas').textContent = document.getElementById('equipeVendas').value;
        document.getElementById('resumoEscritorioVendas').textContent = document.getElementById('escritorioVendas').value;
        document.getElementById('resumoRegVendas').textContent = document.getElementById('regVendas').value;
        document.getElementById('resumoPriceList').textContent = document.getElementById('priceList').value;
        document.getElementById('resumoMoeda').textContent = document.getElementById('moeda').value;
    }
});

function verificarCampoObrigatorio(campo, mensagemErroId, mensagem) {
    const campoErro = document.getElementById(mensagemErroId);
    if (campo.value.trim() === '') {
        campo.classList.add('is-invalid');
        campoErro.style.display = 'block';
        campoErro.textContent = mensagem;
    } else {
        campo.classList.remove('is-invalid');
        campoErro.style.display = 'none';
    }
}

async function buscarCEP(cep) {
    const endpoint = `https://viacep.com.br/ws/${cep}/json/`;
    try {
        const response = await fetch(endpoint);
        if (!response.ok) {
            throw new Error('Erro ao buscar o CEP');
        }
        const data = await response.json();

        if (data.erro) {
            throw new Error('CEP não encontrado');
        }

        const domicilioValue = `${data.uf || ''} ${data.ibge || ''}`;
        document.getElementById('rua').value = data.logradouro || '';
        document.getElementById('bairro').value = data.bairro || '';
        document.getElementById('cidade').value = data.localidade || '';
        document.getElementById('estado').value = data.uf || '';
        document.getElementById('domicilio').value = domicilioValue.trim();

        // Remove mensagem de erro, caso exista
        document.getElementById('cep').classList.remove('is-invalid');
        document.getElementById('cepErro').style.display = 'none';
    } catch (error) {
        console.error('Erro ao buscar o CEP:', error);

        // Exibe mensagem de erro
        document.getElementById('cep').classList.add('is-invalid');
        document.getElementById('cepErro').style.display = 'block';
    }
}

function mascararCEP(cep) {
    let valor = cep.value.replace(/\D/g, ''); // Remove tudo que não é dígito

    // Limita o valor a 8 dígitos
    if (valor.length > 8) {
        valor = valor.substring(0, 8);
    }

    // Coloca um hífen entre o quinto e o sexto dígitos
    valor = valor.replace(/(\d{5})(\d)/, '$1-$2');

    cep.value = valor;
}

function validateCPF(cpf) {
    // Adicione aqui a lógica para validar o CPF
    return true;
}

function validateCNPJ(cnpj) {
    // Adicione aqui a lógica para validar o CNPJ
    return true;
}

function mascararCPF(cpf) {
    cpf = cpf.replace(/\D/g, ''); // Remove tudo que não é dígito
    cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Coloca um ponto entre o terceiro e o quarto dígitos
    cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Coloca um ponto entre o sexto e o sétimo dígitos
    cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Coloca um hífen entre o nono e o décimo dígitos
    return cpf;
}

function mascararCNPJ(cnpj) {
    cnpj = cnpj.replace(/\D/g, ''); // Remove tudo que não é dígito
    cnpj = cnpj.replace(/(\d{2})(\d)/, '$1.$2'); // Coloca um ponto entre o segundo e o terceiro dígitos
    cnpj = cnpj.replace(/(\d{3})(\d)/, '$1.$2'); // Coloca um ponto entre o quinto e o sexto dígitos
    cnpj = cnpj.replace(/(\d{3})(\d)/, '$1/$2'); // Coloca uma barra entre o oitavo e o nono dígitos
    cnpj = cnpj.replace(/(\d{4})(\d{1,2})$/, '$1-$2'); // Coloca um hífen entre o décimo segundo e o décimo terceiro dígitos
    return cnpj;
}

function verificarCPF(cpf) {
    const cpfErro = document.getElementById('cpfErro');
    if (cpf.value === '') {
        cpf.classList.remove('is-invalid');
        cpfErro.style.display = 'none';
    } else if (cpf.value.replace(/\D/g, '').length !== 11) {
        cpf.classList.add('is-invalid');
        cpfErro.style.display = 'block';
    } else {
        cpf.classList.remove('is-invalid');
        cpfErro.style.display = 'none';
    }
}

function verificarCNPJ(cnpj) {
    const cnpjErro = document.getElementById('cnpjErro');
    if (cnpj.value === '') {
        cnpj.classList.remove('is-invalid');
        cnpjErro.style.display = 'none';
    } else if (cnpj.value.replace(/\D/g, '').length !== 14) {
        cnpj.classList.add('is-invalid');
        cnpjErro.style.display = 'block';
    } else {
        cnpj.classList.remove('is-invalid');
        cnpjErro.style.display = 'none';
    }
}
    </script>
</body>

</html>
